body {
    background-color: #EAEDED;
    
}

h1 {
   font-size: 50px;
   color: #212F3C;
}

h2 {
    font-size: 35px;
    color: #7FB3D5;
}


.backimage {
    background-image: url('../pics/IMG_0580-2.jpg');
    background-repeat: no-repeat;
    border: 1px solid blue;
    width: 600px;
    height: 300px;
    order:2;
}


.header-content{width:100%; position:fixed; top:0px;}

.header {
  width:90%;  
  text-align: center;
/*  background-image:url("../pics/IMG_0580-2.jpg"); 
  background-repeat: no-repeat;/*#f59b42; /*#ffffff; 
  background-position: center;
  background-width: 600px; */
  height:10%;
  padding:1px;
  border: 6px solid #778899;
  border-radius: 25px;
  margin-left:5%;
}

a {
  text-decoration:none;
  color:#45B39D;
  font-size:25px;
}

hr.large {
    height: 5px;
    width:90%;
    background-color:#1777bf;
    border:none;
}


hr.small {
    height: 3px;
    width:45%;
    background-color:#778899;
    border:none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  text-align: center;
  display: inline-block;
}

section {
    margin-top:17%;
    width: 75%;
    background: #EAEDED;
    margin-right:4%;
    float:right;
    height:30%;
    overflow: scroll;
    
}
aside {
    margin-top:20%;
    float: left;  
    width: 15%;
    background: #EAEDED;
    margin-left:5%;
    height: 500px;
    border-radius: 25px;
}

              
img {
  border-radius: 50%;
}

p {
  font-size:25px;
  color: #212F3C

}

ul {
   font-size:22px;
  color: #212F3C 
}
